@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #0d0e10;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #0d0e10;
  color: #fdfbfe;
}

* {
  box-sizing: border-box;
}

.recharts-default-tooltip {
  border-radius: 8px !important;
  border-color: rgba(133, 173, 255, 0.24) !important;
  background: rgba(24, 26, 28, 0.96) !important;
}
